%h1 New Project

.errors
  - @project.errors.each do |attribute, error|
    %p= "#{attribute.to_s} #{error}"

= form_for @project do |f|
  = f.label :name, "Full Name"
  = f.text_field :name
  = f.submit
