%h1= @project.name

%h2 Tasks
%ul#tasks
  %li.header
    .name Name
    .start_date Start Date
    .end_date End Date
    .actions
  - @project.tasks.select(&:persisted?).each do |task|
    %li
      .name= task.name
      .start_date= task.start_date
      .end_date= task.end_date
      .actions
        = link_to "delete", project_task_path(task.project, task), :method => :delete

= form_for [@project, @task] do |f|
  .stacked
    = f.label :name
    = f.text_field :name
    = display_errors(f.object.errors[:name])
  .stacked
    = f.label :start_date
    = f.text_field :start_date
    = display_errors(f.object.errors[:start_date])
  .stacked
    = f.label :end_date
    = f.text_field :end_date
    = display_errors(f.object.errors[:end_date])
  .stacked
    = f.submit
